.personas {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}

.personas .glow {
  border-radius: 30%;
  box-shadow:
    inset 0px 0px 40px 10px yellow,
    0px 0px 40px 10px yellow;
}

.personas input {
  position: relative;
  cursor: pointer;
  width: 80%;
  height: 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  transition: background-color 0.2s ease-in-out;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.personas input::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  left: 66%;
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: green;
  transition: all 0.2s ease-in-out;
}
.personas input:checked {
  background-color: rgb(42, 53, 58);
}
.personas input:checked::after {
  background-color: red;
  left: 6%;
}
